    <div class="jumbotron" >
        <h1 style="color:blue;">Menu</h1>
        <br>

    <button onclick="window.location.href = '/api/productos'" class="btn btn-success mt-3 mb-5">Ir a Productos</button>

     <button onclick="window.location.href = '/api/carritos'" class="btn btn-success mt-3 mb-5">Ir a Carrito</button>

     <button onclick="window.location.href = '/info'" class="btn btn-success mt-3 mb-5">Información Personal</button>
    </div>

